.MyArticlePage {
  display: flex;
  justify-content: center;
  position: relative;
}

.MyArticlePage .cardArea,
.ArticleArea {
  width: 100%;
}

.MyArticleBack {
  /* background-color: #34537b; */
  background-color: white;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}
.MyArticlePage {
  /* background-color: #34537b; */
  background-color: white;
}

.MyArticlePage .cardArea {
  border-bottom: 1px white solid;
  margin-bottom: 0;
}

.modifyArticle {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.modifyArticle * {
  text-decoration: none;
  color: #7793b8;
  transition: 0.3s ease;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.modifyArticle:hover * {
  color: #4c6c96;
}
.modifyArticle {
  transition: 0.3s ease;
}
.modifyArticle.notvisible {
  margin-top: -3rem;
}
.modifyArticle.visible {
  margin-top: 0rem;
}
