.react-player {
  width: 100% !important;
}

.react-player #player {
  width: 100%;
}

.player {
  object-fit: cover;
}

.video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 90%;
}
